
body {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #aa9ab8;
}

div {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #a58abd;
}

h1 {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
}


p {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

a {
  color: ##522d91;
  font-size: 20px;
}
